.presentation {
  display: flex;
  justify-content: space-between;
  color : #FF6060;
}

.tagRate {
  display: flex;
  justify-content: space-between;
}

.tags{
  display : flex;
}

.tag {
  background: #FF6060;
  border-radius: 10px;
  color:white;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 10px;
}