.cardLogement {
  /* width:100%; */
}
/* .cardLogement img {
  border-radius: 5px;
  height : 420px;
  width:100%;
  object-fit: cover;
} */

.presentation {
  display: flex;
  justify-content: space-between;
  color : #FF6060;
  margin-top: 30px;
}

.tagRate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tags{
  display : flex;
}

.tag {
  background: #FF6060;
  border-radius: 10px;
  color:white;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 10px;
}

.presentation_proprietaire_identite {
  display : flex;
}


.presentation_proprietaire img {
  border-radius: 50%;
  object-fit: cover;
  width:80px;
  height:80px;
}

.presentation_proprietaire p {
  width:95px;
  margin-bottom: 0;
}

.proprietaire_name{
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 10px;
}

.cardLogement_collapse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cardLogement_collapse #collapse {
  width:40%;
}

.cardLogement_collapse .collapse-button {
  height:52px;
}

.collapse-content {
  white-space: break-spaces;
}