 #collapse.collapse {
  display: block;
  /* margin-bottom: 30px;
  width:70%;
  margin-left: auto;
  margin-right: auto; */
} 

.collapse-button {
  display: block;
  width:100%;
  background-color: #FF6060;
  color:white;
  border: none;
  border-radius: 5px;
  /*  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding-left: 18px; */
}

.collapse-title {
  display: flex;
  justify-content: space-between;
}

.collapse-title p {
  margin : 0;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}

.collapse-content {
  color:#FF6060;
  background-color: #F7F7F7;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-top: 27px;
  /* font-weight: 400;
  font-size: 24px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} 