.thumb {
  margin:50px;
  text-align: center;
  width:300px;
}

.thumb>img {
  border-radius: 20px 20px 20px 20px;
  height : 300px;  
  width : 300px;
  object-fit: cover;
}

.thumb>figcaption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
  position:relative;
  top:-50px;
  margin-left: 10px;
  width:200px;
}