@media (max-width: 767px) {

  .container-slider {
    width: 100%;
    height: 255px;
  }
  .slide.active-anim  {
    width: 100%;
    height: 255px;
  }
  .prev {
    top:15em;
    left: 35px;
  }
  .next {
    top:15em;
    right: 25px;
  }

  .slide figcaption {
    margin-top:-2rem;
  }

}