@media (max-width: 767px) {

  .container-slider {
    width: 100%;
    height: 255px;
  }
  .slide.active-anim  {
    width: 100%;
    height: 255px;
  }
  .prev {
    top: 50%;
    left: 15px;
  }
  .next {
    top: 50%;
    right: 15px;
  }
}